<div id="story" class="marsandbeyond signup signup_a signup_c top top_story_header ">
	<div class="cta_ad">
		<h1 class="cta_story_header">
					
			
		</h1>

		<div class="cta_container">
			<div class="cta_subheader">
				
			</div>
			
		</div>
		
		
	</div>
	<div id="story_location">
		<strong><a href="http://mars.nasa.gov/msl" target="_blank">Curiosity Rover</a></strong><br />
		<a href="https://www.google.com/mars/#lat=-4.565473&amp;lon=-222.448435&amp;zoom=4&amp;q=curiosity" target="google_maps"><i class="ts_icon ts_icon_location_pin ts_icon_inherit"></i> Mars, the Milky Way</a>
	</div>
</div>