<div class="story marsandbeyond">
	

<div class="signup_c marsandbeyond no_padding ">
	
						
<div id="story" class="marsandbeyond signup signup_a signup_c top top_story_header ">
	<div class="cta_ad">
		<h1 class="cta_story_header">
			<div class="hide_from_all">
				<img class="underline_path underline_robots_image" src="/img/landing/underlines_robots.png">
				<img class="underline_path underline_mars_image" src="/img/landing/underlines_mars.png">
				<svg class="underline_path underline_robots_path" width="186px" height="22px" viewBox="-4 0 186 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269" id="underlines-robots" transform="rotate(1)"></path>
				</svg>
				<svg class="underline_path underline_mars_path" width="152px" height="30px" viewBox="-4 4 152 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166" id="underlines-mars" transform="rotate(2)"></path>
				</svg>
			</div>
					<span class="cta_story_header_first">We are the Jaws !! <span class="typed-cursor typed_remove">|</span></span> <span class="typewriter"></span>
			<div class="typewriter_copy offscreen">
				<span class="">
					<span class="cta_story_header_second">w^75h^75o put <span class="callout_copy"> <span class="underline_robots">robots^300</span> on^300 <span class="underline_mars">Mars</span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span class="exclamation_point_2_dot"> </span> </i>
				</span>
			</div>
		</h1>
		
		<div class="cta_container">
			<div class="cta_subheader"><strong>NASA's Jet Propulsion Laboratory</strong> is one of tens of thousands of teams around the world using <strong>Slack</strong> to make their working lives simpler, more pleasant, and more productive.</div>
			<div class="cta">
				<h1 class="cta_header">Slack is <strong>free</strong> to use for as long as you want and with an unlimited number of people.</h1>
				<form action="/create" method="post" class="cta_form align_middle" novalidate>
					<input type="hidden" name="done" value="1">
					<input type="hidden" name="crumb" value="s-1452850324-3841815596-☃" />
					<span class="cta_input_email_wrapper">
						<input name="email" type="email" spellcheck="false" id="inline_input" placeholder="Email address" class="input_email input_inline small_right_margin">
					</span>	
					<button type="submit" class="btn align_top ga_track_signup">Create a new team</button>
				</form>							
			</div>
		</div>
	</div>
	<div id="story_location">
		<strong><a href="http://mars.nasa.gov/msl" target="_blank">Curiosity Rover</a></strong><br />
		<a href="https://www.google.com/mars/#lat=-4.565473&amp;lon=-222.448435&amp;zoom=4&amp;q=curiosity" target="google_maps"><i class="ts_icon ts_icon_location_pin ts_icon_inherit"></i> Mars, the Milky Way</a>
	</div>
</div>


<footer class="footer_dark" data-qa="footer">
	<section>
		<div class="grid">
			<div class="col span_1_of_5">
				<i class="ts_icon ts_icon_slack_pillow"></i>
				<small>Made with <i class="ts_icon ts_icon_heart"></i> by Slack</small>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://slack.com/brand-guidelines" data-qa="brand_guidelines">Brand Guidelines</a></li>
					<li><a href="https://slack.com/jobs" data-qa="jobs">Jobs</a></li>
					<!-- <li><a href="http://slackatwork.com" data-qa="slack_at_work">Slack at Work</a></li>
					<li><a href="https://get.slack.help/hc/en-us" data-qa="support_footer">Support</a></li> -->
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://slack.com/privacy-policy" data-qa="privacy">Privacy</a></li>
					<li><a href="https://slack.com/security" data-qa="security">Security</a></li>
					<!-- <li><a href="https://slack.com/terms-of-service" data-qa="tos">Terms of Service</a></li>
					<li><a href="https://slack.com/policies" data-qa="policies">Policies</a></li> -->
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://status.slack.com/" data-qa="status">Status</a></li>
					<li><a href="https://slack.com/apps" data-qa="app_directory">App Directory</a></li>
					<!-- <li><a href="https://api.slack.com/" data-qa="api">API</a></li>
					<li><a href="https://slack.com/downloads" data-qa="downloads">Downloads</a></li> -->
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://slack.com/varietypack" data-qa="podcast">Podcast</a></li>
					<li><a href="https://slack-shop.myshopify.com" data-qa="slack_shop">Slack Shop</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>
	<div class="gradient"></div>
</div>
</div>