<link rel="stylesheet" media="all" href="//p6.zdassets.com/hc/assets/application-ed4a66bcf03874489d378b04a131c4d9.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p6.zdassets.com/hc/themes/138842/201159516/style-adde0118087aae7d2541218751d9bd9b.css?brand_id=1067416&amp;locale=en-us"></link>
  <link rel="shortcut icon" href="//p6.zdassets.com/hc/settings_assets/138842/200037786/8SGILJX13WKFi1zxnE86UQ-favicon.png"></link>
   <script src="//p6.zdassets.com/hc/assets/jquery-f866e8f4f14f1ea680fcca8a780834af.js"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-106458-19', 'auto');
ga('send', 'pageview');

</script>
<link id="favicon" rel="shortcut icon" href="https://slack.global.ssl.fastly.net/66f9/img/icons/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png" />

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">


<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script> 
<script src="//fast.wistia.com/assets/external/popover-v1.js" charset="ISO-8859-1"></script>


<script src="//p6.zdassets.com/hc/theme_assets/138842/200037786/slack.zendesk-min.js?launch4"></script>
  <script type="text/javascript" src="//p6.zdassets.com/hc/themes/138842/201159516/script-adde0118087aae7d2541218751d9bd9b.js?brand_id=1067416&amp;locale=en-us"></script>
<header class="header">
	<div class="header_logo">
	
		<a title="Slack Help Center" class="logo_holder" href="/hc">
			<img id="logo_w" src="//p6.zdassets.com/hc/theme_assets/138842/200037786/logo_white.png" alt="Slack Help Center" />
			<img id="logo_b" src="//p6.zdassets.com/hc/theme_assets/138842/200037786/logo.png" alt="Slack Help Center" />
		</a>
		
		<a href="/hc" class="header_title">Members</a>
	</div>
	
	<div class="header_search">
		<form role="search" class="search" data-search="true" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search" />
<input type="submit" name="commit" value="Search" /></form>
	</div>
	<i class="hidden ts_icon ts_icon_times_circle ts_icon_inherit close_search"></i>
</header>

<section>
  <main role="main">
    <section class="hero_banner">
	<div class="search_container">
		<h2 class="search_title">Hi. How can we help?</h2>
		<form role="search" class="search" data-search="true" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search" />
<input type="submit" name="commit" value="Search" /></form>
		<div class="search_topics">
			<strong>Popular help topics:</strong>

			<a href="/hc/articles/202288908/">message formatting</a>,
			<a href="/hc/articles/202026038/">Slackbot</a>,
			<a href="/hc/articles/204509068/">two-factor authentication</a>
		</div>
	</div>
</section>

<section class="intro_cards">
	<div class="intro_cards_container">
		<div class="intro_card_container">
			<div class="card align_center">
				<div class="card_image card_image_using_slack"></div>
				<h2 class="card_title">Jitoon Lee</h2>
				<p class="card_description"><p>I'm Jitoon Lee.</p> if you have any question about me, just mail me !! </p>
		
				<a href="/hc/categories/200111606" class="btn btn_large" alt="Using Slack">jitoon-lee@gmail.com</a>    <!--mailer -->
			</div>
		</div>
		<div class="intro_card_container">
			<div class="card align_center">
				<div class="card_image card_image_team_admin"></div>
				<h2 class="card_title">Hansol Yang</h2>
				<p class="card_description"><p>I'm Hansol Yang.</p> if you have any question about me, just mail me !! </p>
		
				<a href="/hc/categories/200122103" class="btn btn_large" alt="Team Administration">yhs930709@gmail.com</a>   <!--mailer -->
			</div>
		</div>
	</div>
</section>

<div class="hidden" id="highlighting_words">
	<option value="highlighting">
		android, announcements, archiving, billing, box, browsing, changing, channels, closing, composing, computers, connecting, creating, customizing, custom SAML, data exports, data security, deactivating, deleting, deploying slack, direct messages, DMs, Do Not Disturb, dropbox, editing, education, emoji, emoticons, exporting, faqs, formatting, free trial, getting started, giphy, github integration, github organization, glossary, google apps, google drive, importing, integrations, ios, joining, keyboard shortcuts, leaving, links, linux, mac, multiple, muting, nonprofits, notifications, password, permissions, phones, pinning, plus plan, primary ownership, privacy policies, purpose, quoting, reading, reminders, removing, renaming, retention, roles, SCIM provisioning, searching, sending, signing in, signing out, single sign-on, slack status, slackbot, slash, snippet, stars, tablets, topic, troubleshooting, twitter, two-factor authentication, inviting, uploading, video, voice, windows phone, windows, wunderlist
	</option>

</div>




<section class="separator">
</section>



  </main>

  
<div class="purple_banner hidden">
	<div class="first_row">
		<i class="wave"></i>
		<b>Brand new to Slack?</b>
		<span>Check out these helpful guides.</span>
	</div>
	<div class="second_row">
		<a class="btn" href="https://slack.com/getting-started" target="_blank">Getting started</a>
		<a class="btn" href="/hc/articles/213817348">Slack glossary</a>
	</div>
	<button class="close_purple ts_icon ts_icon_times" />
</div>




  <!-- / -->
  

  <script type="text/javascript" src="//p6.zdassets.com/hc/en-us/locales-ac57cc91782fc18f442814ef79e96f96c04d9fae.js"></script>
  <script src="https://slack.zendesk.com/auth/v2/host.js" data-brand-id="1067416" data-return-to="https://get.slack.help/hc/en-us" data-theme="hc" data-locale="1" data-auth-origin="1067416,true,true"></script>
  

  <script type="text/javascript">
  /*

    Greetings sourcecode lurker!

    This is for internal Zendesk and legacy usage,
    we don't support or guarantee any of these values
    so please don't build stuff on top of them.

  */

  HelpCenter = {};
  HelpCenter.account = {"subdomain":"slack","environment":"production","name":"Slack"};
  HelpCenter.user = {"identifier":"da39a3ee5e6b4b0d3255bfef95601890afd80709","email":null,"name":null,"role":"anonymous","avatar_url":"https://assets.zendesk.com/hc/assets/user_avatar.png","organizations":[],"groups":[]};
  HelpCenter.internal = {"current_session":{"locale":"en-us","csrf_token":"o85Llln9kRkYnDlHqi/GGLo0tkJvn8IhvRqH4+BO/zLhTX5hjdhq62eXQ+HguvPkEKe7yaBAR/tqWaWSlJdrJg==","shared_csrf_token":null},"settings":{"zopim_enabled":true,"spam_filter_enabled":false},"current_record_id":null,"current_record_url":null,"current_record_title":null,"search_results_count":null,"current_text_direction":"ltr","current_brand_url":"https://slack.zendesk.com","current_path":null,"show_curlybars_ipm":false,"show_new_community_ipm_for_custom_theme":false,"show_new_community_ipm_for_stock_theme":false,"authentication_domain":"https://slack.zendesk.com"};
</script>

  
  <script src="//p6.zdassets.com/hc/assets/hc_enduser-d3b091dc1af8fb0e2cdb6cc99930852b.js"></script>
  

  <script type="text/javascript">
    (function() {
  var Tracker = {};

  Tracker.track = function(eventName, data) {
    var url = "https://get.slack.help/hc/tracking/events?locale=en-us";

    var payload = {
      "event": eventName,
      "data": data,
      "referrer": document.referrer
    };

    var xhr = new XMLHttpRequest();

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    xhr.send(JSON.stringify(payload));
  };

    Tracker.track("front_page_viewed", "BAh7AA==--50d1974e05bddc24bd4b43467913737de44d3c7e");
})();

  </script>